<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ProjectPath" value="G:\2024\Projekte\pemolib\PemoLibman\Pemolib.ndproj" />
    </appSettings>
</configuration>